*
!docker/
!docker/izrk/
!docker/izrk/**
!web/
web/**
!web/target/
web/target/**
!web/target/geonetwork.war
!web-ui/
web-ui/**
!web-ui/src/
!web-ui/src/main/
!web-ui/src/main/resources/
!web-ui/src/main/resources/catalog/
!web-ui/src/main/resources/catalog/style/
!web-ui/src/main/resources/catalog/style/srv_custom_style.less
!web-ui/src/main/resources/catalog/views/
!web-ui/src/main/resources/catalog/views/default/
!web-ui/src/main/resources/catalog/views/default/templates/
!web-ui/src/main/resources/catalog/views/default/templates/home.html
!schemas/
schemas/**
!schemas/eml-gbif/
!schemas/eml-gbif/src/
!schemas/eml-gbif/src/main/
!schemas/eml-gbif/src/main/plugin/
!schemas/eml-gbif/src/main/plugin/eml-gbif/
!schemas/eml-gbif/src/main/plugin/eml-gbif/**
