<div class="row izrk-footer-content">
  <div class="col-lg-3 col-sm-12">
    <img
      src="../../catalog/views/default/images/izrk/footer-logo.png"
      alt="IZRK Metadata Portal"
      class="izrk-footer-logo"
    />
  </div>
  <div class="col-lg-3 col-sm-12">
    The <b>IZRK Metadata Portal</b> was developed at the Data Centre of the Karst Research
    Institute ZRC SAZU from 2021 to 2022 using the
    <a href="https://geonetwork-opensource.org" target="_blank" rel="noopener">
      GeoNetwork</a
    >
    platform to build a system management and user interface for multidisciplinary
    environmental data mining and access to data products. The architecture of the new
    metadata portal is compliant with FAIR data principles and data lifecycle, and is
    collecting and mapping various datasets, databases, research sites and instruments,
    virtual laboratories, workflows, and codes. The portal offers data for
    multidisciplinary KARST database and for multidisciplinary research that covers all
    domains and functionalities of a karst landscape. Moreover, the portal is designed to
    provide a temporal and spatial link between specific sites and their data as part of
    three main projects:
    <ul>
      <li>
        <a href="https://lifewatch.zrc-sazu.si" target="_blank" rel="noopener">
          RI-SI-LifeWatch (2019 - 2021)</a
        >
      </li>
      <li>
        <a href="https://epos-ip.zrc-sazu.si" target="_blank" rel="noopener">
          RI-SI-EPOS (2019 - 2021)</a
        >
      </li>
      <li>
        <a href="https://lter.zrc-sazu.si" target="_blank" rel="noopener">
          eLTER RI (2020 - 2025)</a
        >
      </li>
    </ul>
  </div>
  <div class="col-lg-3 col-sm-12">
    <b>Publisher</b>
    <br />
    <a href="https://izrkp.zrc-sazu.si" target="_blank" rel="noopener">
      Karst research Institute ZRC SAZU</a
    >, Postojna, Slovenia
    <br />
    <b>ISSN 2820-588X</b>
    <br />
    <br />
    <b>Year of preparation</b>
    <br />
    2021 - 2022
    <br />
    <br />
    <b>Design and editing</b>
    <br />
    Magdalena Aljančič, Žan Kafol, Tanja Pipan, Stanka Šebela, Jasmina Čeligoj Biščak,
    Nataša Ravbar
  </div>
  <div class="col-lg-3 col-sm-12"></div>
</div>
